.sd3dialogbox {
	width: 254px;
	margin-right: .5rem;
}

.sd3dialogbox .infobox {
	background: white;
	color: black;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	font-size: .75rem;
	margin: 10px 0;
	min-height: 5px;
	text-align: left;
}

.sd3dialogbox .counter1, .sd3dialogbox .counter2, .sd3dialogbox .counter3 {
	margin: 5px;
}

.sd3dialogbox .alert {
	color: #fa4444;
	margin: 5px;
	padding: 0px;
	border: none;
}

.sd3dialogbox .chars {
	padding-left: 9px;
	padding-top: 4px;
	line-height: 0px;
}

.sd3dialogbox .window {
	background: url(../images/window.png) no-repeat;
	height: 54px;
}

.sd3dialogbox .line {
    background: url(../images/line.png) no-repeat;
    height: 54px;
    margin-top: 15px;
    width: 254px;
}

.redtext {
	color: #fa4444;
}