$text-primary-color: white;
$text-secondary-color: black;
$body-background: url(../images/bg1.png);
$navbar-background: url(../images/bg3.png);
$card-background: #006000;
$nav-item-background: white;
