.soe-dialogbox {
  margin-right: .5rem;
}

.soe-dialogbox .infobox {
  background-color: white;
  border: 1px solid black;
  color: black;
  font-size: 10px;
  margin: 10px 0;
  min-height: 5px;
  text-align: left;
  width: 256px;
}

.soe-dialogbox .infobox > div {
  margin: 5px;
}

.soe-dialogbox .alert {
  color: #fa4444;
  padding: 0px;
  border: none;
}

.soe-dialogbox .bgimage {
  background: url(../images/background0.png) no-repeat;
  height: 224px;
  width: 256px;
}

.soe-dialogbox .chars {
  padding-left: 20px;
  padding-top: 20px;
  line-height: 0px;
  position: relative;
}

.soe-dialogbox .chars br {
  margin-bottom: 1px;
}

.redtext {
  color: #fa4444;
}
