body {
	background: #333 url(text-tool/images/bg.png) repeat-x;
	backgroud: red;
	text-align: center;
}

form {
	margin-bottom: 10px;
	margin-top: 10px;
}

textarea {
	border: 1px solid #aaa;
	font: 11px verdana, sans-serif;
	font-weight: bold;
	height: 45px;
	overflow: auto;
	padding: 3px;
	width: 250px;
}

.button {
	background-color: #ddd;
	border: 1px solid #aaa;
	color: #333;
	font: 11px verdana, sans-serif;
	font-weight: bold;
	margin-left: 6px;
	margin-right: 6px;
	margin-top: 6px;
	padding: 2px;
	width: 106px;
}

.redtext {
	color: #fa4444;
}

#alert {
	color: #fa4444;
	margin: 5px;
}

#bgimage {
	background: url(images/bg0.png) no-repeat;
	border: 1px solid #333;
	height: 223px;
	text-align: left;
	width: 256px;
}

#chars {
	padding-left: 9px;
	padding-top: 4px;
}

#counter1, #counter2, #counter3 {
	margin: 5px;
}

#credit {
	clear: both;
	color: #ccc;
	font: 9px verdana, sans-serif;
	font-style: italic;
	margin-bottom: 8px;
}

#credit:hover {
	color: #836d2f;
}

#float1, #float3 {
	float: left;
	padding-top: 70px;
	width: 72px;
}

#float2 {
	float: left;
	width: 258px;
}

#infobox {
	border: 1px solid #aaa;
	color: #666e60;
	font: 10px verdana, sans-serif;
	margin-bottom: 8px;
	margin-top: 10px;
	min-height: 5px;
	text-align: left;
	width: 256px;
}

#main {
	background-color: #f4f5f3;
	border-bottom: 2px solid #666e60;
	margin-left: auto;
	margin-right: auto;
	margin-top: 114px;
	width: 402px;
}

#specinfo {
	color: #836d2f;
	margin: 5px;
}

#title {
	background-color: #04500c;
	color: #eeefed;
	font: 12px verdana, sans-serif;
	font-weight: bold;
	line-height: 1.4;
	margin-bottom: 10px;
	padding-bottom: 8px;
	padding-top: 8px;
}

#version {
	font-size: 11px;
	font-style: italic;
	font-weight: normal;
}

#window {
	background: url(images/window.png) no-repeat;
	border: 1px solid #000;
	height: 54px;
	margin-top: 15px;
	width: 254px;
}